# Environment variables
.env
.env.*

# Secrets (Google keys, API credentials)
# Ignore secrets only
*.secret.json
!data/**/*.json

# Python
__pycache__/
*.pyc
venv/

# Database
*.db

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
packvote-*.json
